.expenses-main-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.expenses-main-title {
  align-self: center;
  font-size: 2rem;
}

.empty-expenses {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-expenses h3 {
  font-style: italic;
}

.empty-expenses a {
  background: #5fb523;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  margin-right: 0.3rem;
  border: none;
  color: white;
  text-align: center;
  align-self: center;
  width: 50%;
}

.expenses-category-total {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.9rem;
  font-weight: bold;
  font-size: 1.7rem;
}

.ex-cat-name {
  color: #606467;
}

.expenses-section {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 0.9rem 1.4rem;
  gap: 1rem;
}

.expense-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #fff;
  justify-content: space-between;
  padding: 0.4rem;
  border-radius: 7px;
  align-items: center;
}

.expenses_image {
  height: 74px;
  width: 74px;
}

.expenses-name-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.expenses-name-div h2 {
  text-decoration: none;
  font-size: 1.6rem;
  color: #606467;
}

.expenses-name-div span {
  font-style: italic;
  font-size: small;
  color: #b8b8b8;
}

.expenses-total-amount {
  display: flex;
  justify-content: end;
}

.expenses-total-amount span {
  font-weight: bold;
}

.add-new-expense-btn {
  align-self: center;
  text-decoration: none;
  background: #5fb523;
  border-radius: 5px;
  padding: 0.6rem 3rem;
  margin-right: 0.3rem;
  border: none;
  color: white;
}

.add-new-expense-btn:hover {
  background: #434b54;
}
