<div class="splash-main-div">
    <h1 class="main-title">Budget Buddy</h1>
    <h2>Welcome</h2>
    <div class="splash-btns">
        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-sign-up-btn' %>
        <%= link_to 'Sign in',  new_user_session_path, class: 'nav-sign-in-btn' %>
    </div>
</div>