.category-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-new-category-form {
  display: flex;
  flex-direction: column;
  border: solid 1px #173f4e;
  border-radius: 10px;
  background-color: #ccd0d8;
  width: 50%;
  gap: 1.1rem;
  padding: 1rem 0;
}

.create-new-category-form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.create-new-category-form .field input {
  background: none;
  border: 1px solid #1463f3;
  border-radius: 8px;
  padding: 0.5rem;
}

.create-new-category-form .Submit-btn {
  align-self: center;
  background: #5fb523;
  width: 50%;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  margin-right: 0.3rem;
  border: none;
  color: white;
}

.create-new-category-form .Submit-btn:hover {
  background: #434b54;
}
