.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .new_user {
    display: flex;
    flex-direction: column;
    border: solid 1px #173f4e;
    border-radius: 10px;
    background-color: #ccd0d8;
    width: 50%;
    gap: 1.1rem;
    padding: 1rem 0;
  }
  
  .new_user .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  
  .new_user .field input {
    background: none;
    border: 1px solid #1463f3;
    border-radius: 8px;
    padding: 0.5rem;
  }
  
  .new_user .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .new_user .actions input {
    background: #1463f3;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin-right: 0.3rem;
    border: none;
    color: white;
  }
  
  .sign-in-page .new_user .actions input {
    background: green;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin-right: 0.3rem;
    border: none;
    color: white;
  }
  
  .new_user .actions input:hover {
    background: #14f3;
  }